<a href="https://colab.research.google.com/github/Belaschich/Projeto_Final_SoulCode/blob/main/ProjetoFinal_(Pandera_Oficial)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT BIBLIOTECAS E ACESSO GCP

In [ ]:
pip install gcsfs

Collecting gcsfs
  Downloading gcsfs-2021.11.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Collecting fsspec==2021.11.1
  Downloading fsspec-2021.11.1-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 7.6 MB/s
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 47.8 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 56.4 MB/s
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.2.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (192 kB)
     |████████████████████████████████| 192 kB 63.6 MB/s
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.8)
Collecting multidict<7.0,>=4.5
  Downloading multidict-5.2.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (160 kB)
     |████████████████████████████████| 160 kB 66.1 MB/s
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.1-py3-none-any.whl (5.7 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.2.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (3.10.0.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.53.0)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.6)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.1 asynctest-0.13.0 frozenlist-1.2.0 fsspec-2021.11.1 gcsfs-2021.11.1 multidict-5.2.0 yarl-1.7.2

In [ ]:
!pip install pandera

Collecting pandera
  Downloading pandera-0.8.0-py3-none-any.whl (186 kB)
     |████████████████████████████████| 186 kB 5.1 MB/s
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Collecting pandas-stubs
  Downloading pandas_stubs-1.2.0.39-py3-none-any.whl (161 kB)
     |████████████████████████████████| 161 kB 58.7 MB/s
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandas-stubs, pandera
Successfully installed mypy-extensions-0.4.3 pandas-stubs-1.2.0.39 pandera-0.8.0 typing-inspect-0.7.1

In [ ]:
#BIBLIOTECA PARA CHAVE DE ACESSO GCP

import os

In [ ]:
#IMPORT PANDAS E STORAGE

import pandas as pd
from google.cloud import storage

In [ ]:
import pandera as pa

In [ ]:
#IMPORTA BASE DE ACESSO GCP

service_account_key = r"/content/chaveprogrupo10-332518-4db3212adcd1.json"

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = service_account_key

# IMPORTAÇÃO BASES DE ENTRADA GCP

In [ ]:
#LEITURA DO CSV TRATADO NO PANDAS, SALVO NO GCP

df1 = pd.read_csv('gs://bucket-projeto-g10/saida_tratado/nivel_pandas/Base_ConsumoNA (1.0).csv')

In [ ]:

df2 = pd.read_csv('gs://bucket-projeto-g10/saida_tratado/nivel_pandas/Base_ConsumoIowa (1.0).csv', sep=',')

# TRATATIVAS PRÉ VALIDAÇÃO

In [ ]:
#MUDANÇA NO TIPO DO DADO DA COLUNA MESREF DE INTEIRO PARA STRING

df1['MesRef'] = df1['MesRef'].astype(str)

In [ ]:
#INCREMENTA O ZERO NA FRENTE DOS DADOS COM MES DE 1 A 9

df1['MesRef'].replace( ['12017', '22017',
       '32017','42017', '52017', '62017', 
       '72017','82017', '92017', '12018', 
       '22018','32018', '42018', '52018', 
       '62018', '72018', '82018', '92018',
       '12019', '22019', '32019', '42019',
       '52019', '62019', '72019', '82019', 
       '92019', '12020', '22020', '32020', 
       '42020', '52020', '62020','72020',
       '82020', '92020', '12021', '22021'],

                       ['012017', '022017',
       '032017', '042017', '052017', '062017', 
       '072017', '082017', '092017', '012018', 
       '022018', '032018', '042018', '052018', 
       '062018', '072018', '082018', '092018',
       '012019', '022019', '032019', '042019',
       '052019', '062019', '072019', '082019', 
       '092019', '012020', '022020', '032020', 
       '042020', '052020', '062020', '072020',
       '082020', '092020', '012021', '022021'] 

       ,inplace=True)

In [ ]:
#CONVERTE OS DADOS DA COLUNA "GALOES" DE REAL PARA INTEIRO

df1['Galoes'] = df1['Galoes'].astype(int)

In [ ]:
df2.head()

         Data  Caixa  GarrafaML  ...  ValorFinalVarejo  VolumeVendidoL  VolumeGalao
0  01/22/2019      6       1750  ...             67.50           10.50         2.77
1  01/15/2019     12       1000  ...             14.25            1.00         0.26
2  01/15/2019     12        750  ...            199.68            9.00         2.37
3  01/15/2019     24        375  ...             60.00            1.87         0.49
4  01/16/2019     12       1000  ...            188.88           12.00         3.17

[5 rows x 9 columns]

In [ ]:
#MODIFICAÇÃO DO FORMATO DA DATA PARA DATETIME

df2['Data'] = pd.to_datetime(df2['Data'])

In [ ]:
#EXIBIÇÃO DOS TIPOS DE DADOS
df2.dtypes

Data                   datetime64[ns]
Caixa                           int64
GarrafaML                       int64
ValorGarrafaAtacada           float64
ValorGarrafaVarejo            float64
GarrafasVendidas                int64
ValorFinalVarejo              float64
VolumeVendidoL                float64
VolumeGalao                   float64
dtype: object

In [ ]:
df2.head()

        Data  Caixa  GarrafaML  ...  ValorFinalVarejo  VolumeVendidoL  VolumeGalao
0 2019-01-22      6       1750  ...             67.50           10.50         2.77
1 2019-01-15     12       1000  ...             14.25            1.00         0.26
2 2019-01-15     12        750  ...            199.68            9.00         2.37
3 2019-01-15     24        375  ...             60.00            1.87         0.49
4 2019-01-16     12       1000  ...            188.88           12.00         3.17

[5 rows x 9 columns]

# VALIDAÇÃO DE TIPO DE DADOS PANDERA

In [ ]:
#VALIDAÇÃO DE ESQUEMA DO DATAFRAME "ÁMERICA DO NORTE"

schema1 = pa.DataFrameSchema(
    columns = { 
        "Ano":pa.Column(pa.Int),
        "Mes":pa.Column(pa.Int),     
        "MesRef":pa.Column(pa.String),    
        "Estado":pa.Column(pa.String),    
        "Categoria":pa.Column(pa.String),  
        "Galoes":pa.Column(pa.Int),  
        "Etanol":pa.Column(pa.Int),  
        "Populacao":pa.Column(pa.Int),  
        "EtanolPerCapita":pa.Column(pa.Float),                                       
    }
)
schema1.validate(df1)

       Ano  Mes  MesRef  ...   Etanol Populacao  EtanolPerCapita
0     2017    1  012017  ...    42598    593378           0.0718
1     2017    1  012017  ...   301615   4634346           0.0651
2     2017    1  012017  ...   169373   3015481           0.0562
3     2017    1  012017  ...    74139    799550           0.0927
4     2017    1  012017  ...  1138752  17722275           0.0643
...    ...  ...     ...  ...      ...       ...              ...
1945  2021    2  022021  ...   394423   4629348           0.0852
1946  2021    2  022021  ...   378598   5077875           0.0746
1947  2021    2  022021  ...    70917    617880           0.1148
1948  2021    2  022021  ...   439860   5661532           0.0777
1949  2021    2  022021  ...  1810536  23257363           0.0778

[1950 rows x 9 columns]

In [ ]:
#VALIDAÇÃO DE ESQUEMA DO DATAFRAME "IOWA"

schema2 = pa.DataFrameSchema(
    columns = {
        "Data":pa.Column(pa.DateTime),
        "Caixa":pa.Column(pa.Int),
        "GarrafaML":pa.Column(pa.Int),
        "ValorGarrafaAtacada":pa.Column(pa.Float),
        "ValorGarrafaVarejo":pa.Column(pa.Float),
        "GarrafasVendidas":pa.Column(pa.Int),
        "ValorFinalVarejo":pa.Column(pa.Float),
        "VolumeVendidoL":pa.Column(pa.Float),
        "VolumeGalao":pa.Column(pa.Float)
    }
)
schema2.validate(df2)

               Data  Caixa  ...  VolumeVendidoL  VolumeGalao
0        2019-01-22      6  ...           10.50         2.77
1        2019-01-15     12  ...            1.00         0.26
2        2019-01-15     12  ...            9.00         2.37
3        2019-01-15     24  ...            1.87         0.49
4        2019-01-16     12  ...           12.00         3.17
...             ...    ...  ...             ...          ...
10028012 2019-01-15     12  ...            9.00         2.37
10028013 2019-01-17     24  ...            4.80         1.26
10028014 2019-01-17     12  ...            0.50         0.13
10028015 2019-01-15     12  ...           12.00         3.17
10028016 2019-01-18     12  ...            9.00         2.37

[10028017 rows x 9 columns]

In [ ]:
#EXPORTAÇÃO BASE "NORTE AMÉRICA" PARA O BUCKET GCP

#df1.to_csv('gs://bucket-projeto-g10/saida_tratado/nivel_pandera/Base_ConsumoNA (2.0).csv', index=False)

In [ ]:
#EXPORTAÇÃO BASE "IOWA" PARA O BUCKET GCP

#df2.to_csv('gs://bucket-projeto-g10/saida_tratado/nivel_pandera/Base_ConsumoIowa (2.0).csv', index=False)

# FILTRO 2021 BASE IOWA

In [ ]:
#PASSO DESCARTADO 

df3 = df2.loc[df2['Data'] > '2021-01-01']

In [ ]:
#EXPORTAÇÃO BASE "IOWA 2021" PARA O BUCKET GCP

#df3.to_csv('gs://bucket-projeto-g10/saida_tratado/nivel_pandera/Base_ConsumoIowa2021 (2.0).csv', index=False)

#DECIDIMOS UTILIZAR A BASE COMPLETA DIRETAMENTE NO BIGQUERY, SEM PASSAR PELO SPARK